<div class="form-signUp">
    <div class="form">
      <% if params[:profile] ==  "true" %>
        <%= render("profile") %>
      <% else %>
          <%= render("security") %>
      <% end %>
    </div>
</div>