<h1>Search Results for:</h1>
<%@tags.each do |tag|%>
	<div class="proj-tag inlineb">
		<%=tag.title%>
	</div>
<%end%>
<div class="search-info">
	<b>Click on Reading Name to go to the Reading Page. (<%=@readings.length%> results found)</b>
</div>

<div class= "results-all inlineb">
	<%if @readings.length == 0%>
		<h2>No Readings found. Try different Tags</h2>
	<%end%>
	<% @readings.each do |reading|%>
	<div class="result inlineb">
		<div class="result-right inlineb">
			<div class = "search-link inlineb">
				<h2><%= link_to ""+ reading.title, reading %></h2>
			</div>
			<div class = "search-image inlineb">

			</div>
		    <div class="search-tags inlineb">
		    	<div>
		    		Tags:
		    	</div>
		    	<%reading.tags.each do |tag|%>
					<div class="proj-tag inlineb">
						<%=tag.title%>
					</div>
				<%end%>
		    </div>
		</div>
	</div>
	<%end%>
</div>
