<h4>Tag Info:</h4>
	<div class ="control-group">
	  <%=f.label :title, "Title", :class => 'control-label'%>
	  <div class="controls">
		<%=f.text_field :title , :class => 'text_field',  :required=>:true, :placeholder =>'title'%>
	  </div>
	</div>
</div>
