<div class="span12 mainHome"> 
  <div class="span8 section" id="updateBlurb"> 
  
  </div>

  <div class="span3 section" id="uploadBlurb"> 
 <%= link_to 'New Reading', new_readings_path, :class => 'btn inlineb btn-primary'  %>
   </div>

</div>


