html {	

    background: url('mit_dome_night.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height:100%;
}

body {
  padding-top: 0px;
}

.signin-form {
    /*border: solid 1px black;*/
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;

    height: 400px;
    margin-top: -200px;

    width: 600px;
    margin-left: -300px;
}


.control-group1 {
	position: fixed;
	top: 40%;
}
.control-group2 {
	position: fixed;
	top: 46%;
}
.control-group3 {
	position: fixed;
	top: 51%;
	color: white;
}

.control-group4 {
	position: fixed;
	top: 63%;
	color: white;	
}

.signin-button {
	display: block;
	width: 100%;
}


.logo {
	height: 55px;
	color: white;
	letter-spacing: -1px;
	display: block;
	font-size: 40px;
	text-align: center;
	margin-top: 10.5%;
}

.subheading {
	line-height: 1.2;
	font-size: 20px;
	white-space: nowrap;
	color: #fff;
	text-align: center;
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
	-webkit-font-smoothing: antialiased;	
	opacity: .88;
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;	
	font: normal 14px/1.4 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}

.stats_projects{
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,0.35);
	padding: 10px 45px 25px 45px;	
}

.stats_students{
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,0.35);
	padding: 10px 45px 25px 45px;
	border-left: 3px solid rgba(255,255,255,0.3);
}

.stats_alums{
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,0.35);
	padding: 10px 45px 25px 45px;
	border-left: 3px solid rgba(255,255,255,0.3);
}

.number {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	margin: 0 0 5px;
	line-height: 1;
	text-shadow: 0 1px 4px rgba(0,0,0,0.35);
	-webkit-font-smoothing: antialiased;
	-webkit-transition: font-size .25s linear;
	transition: font-size .25s linear;
	display: block;
	text-align: center;
}

.description {
	color: #fff;
	font-size: 18px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	display: block;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,0.35);
}

.homepage-stats {
	width: 100%;
	position: absolute;
	bottom: 5%;
	-webkit-transition: opacity .25s linear,padding .25s linear;
	-moz-transition: opacity .25s linear,padding .25s linear;
	-ms-transition: opacity .25s linear,padding .25s linear;
	transition: opacity .25s linear,padding .25s linear;
	text-align: center;
	white-space: nowrap;
	display: block;
}

#error_explanation {
	color:white;
}

